<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="/Controllers/registro.js"></script>
  <link rel="stylesheet" href="/Estilo/estilo2.css">
  <title>REGISTRO</title>
</head>
<body>
  <section class="formulario-crearcuenta">
    <h1>Crear una nueva cuenta</h1>
    <form id="formulario-crear">
      <input type="email" id="email" name="email" placeholder="Correo electrónico:"><br><br>
      <input type="password" id="password" name="password" placeholder="Contraseña:"><br><br>
      <input type="submit"  value="Registrarse">
    </form>
    <a href="/index.html">¡Ya tengo una cuenta!</a>
  </section>
</body>
</html>

